<?xml version="1.0"?>
<!-- SESSION ID: 1500506803 -->
<launch>

    <arg name="sensor_name" default="realsense_head" />
    <arg name="enable_pointcloud" default="false" />

    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
        <arg name="camera" value="$(arg sensor_name)" />
        <arg name="enable_pointcloud" value="$(arg enable_pointcloud)" />
    </include>
    
    <!-- UDP messaging -->
    <include file="$(find opt_utils)/launch/ros2udp_converter.launch" />
    <!-- Visualization 
    <include file="$(find opt_utils)/launch/multicamera_visualization.launch" /-->
</launch>
