<?xml version="1.0"?>
<launch>
  <arg name="enable_people_tracking" default="true"/>
  <arg name="enable_pose" default="true"/>
  <arg name="enable_object" default="true"/>
  <arg name="sensor_name" default="kinect2_head"/>
  <arg name="sensor_type" default="kinect2"/>
  <arg name="yolo_based_people_tracking" default="false"/>

  <include file="$(find kinect2_bridge)/launch/kinect2_bridge_ir.launch">
    <arg name="publish_frame" value="true"/>
    <arg name="sensor_name" value="$(arg sensor_name)"/>
  </include>

  <!-- People tracking -->
  <group if="$(arg enable_people_tracking)">
    <include file="$(find detection)/launch/detector_depth_kinect2.launch"/>
    <include file="$(find tracking)/launch/tracker_single.launch"/>
  </group>

  <!-- Skeleton tracking -->
  <group if="$(arg enable_pose)">
    <include file="$(find detection)/launch/skeleton_detector.launch">
      <arg name="sensor_name" value="$(arg sensor_name)"/>
    </include>
    <include file="$(find tracking)/launch/skeleton_tracker_single.launch">
      <arg name="input_topic" value="/detector/skeletons"/>
    </include>
    <!-- Pose recognition -->
    <include file="$(find pose_recognition)/launch/pose_recognition.launch"/>
  </group>

  <!-- Object Tracking -->
  <group if="$(arg enable_object)">
    <include file="$(find yolo_detector)/launch/detect_yolo_object_kinect_network.launch">
      <arg name="sensor_name" value="$(arg sensor_name)"/>
    </include>
    <include file="$(find tracking)/launch/object_tracker_single.launch"/>
  </group>

  <!-- UDP messaging -->
  <include file="$(find opt_utils)/launch/ros2udp_converter.launch"/>

  <!-- Visualization -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tracking)/conf/SingleCameraTrackingKinect2.rviz" />
</launch>
