<?xml version="1.0"?>
<!-- SESSION ID: 1500506803 -->
<launch>

    <arg name="sensor_name" default="realsense_head" />
    <arg name="enable_pointcloud" default="true" />

    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
        <arg name="camera" value="$(arg sensor_name)" />
        <arg name="enable_pointcloud" value="$(arg enable_pointcloud)" />
    </include>
    
    <include file="$(find recognition)/launch/debug_tvm_node_node.launch" output="screen">
            <arg name="sensor_name" value="$(arg sensor_name)" />
    </include>
    <node name="multiple_objects_detection" output="screen" pkg="detection" required="true" type="multiple_objects_detection_node">
            <rosparam command="load" file="$(find detection)/conf/multiple_objects_detection.yaml" />
            <param name="set_object_names" value="true" />
    </node>
    <include file="$(find tracking)/launch/zoned_object_tracker_single.launch" />
   
    <!-- Load calibration results -->
    <include file="$(find opt_calibration)/launch/opt_calibration_results.launch"/>

    <!-- UDP messaging -->
    <include file="$(find opt_utils)/launch/ros2udp_converter.launch" />
    <!-- Visualization 
    <include file="$(find opt_utils)/launch/multicamera_visualization.launch" /-->
</launch>