<?xml version="1.0"?>
<launch>

  <arg name="sensor_name" default="camera" />
  <arg name="serial_no" default="" />
  <arg name="standalone" default="true" />
  <arg name="use_pointcloud" default="true" />

  <group if="$(arg standalone)" >
    <!-- Start the realsense -->
    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
        <arg name="camera" value="$(arg sensor_name)" />
        <arg name="enable_pointcloud" value="true" />
    </include>
  </group>


  <!-- Launch object detection node -->
  <node pkg="recognition" type="detector_test"
        name="$(arg sensor_name)_detector" output="screen" respawn="false">

    <param name="sensor_name"               value="$(arg sensor_name)" />
    <param name="use_pointcloud"               value="$(arg use_pointcloud)" />


    <param name="world_frame_id"            value="/world"/>
    <param name="depth_image_topic"         value="/$(arg sensor_name)/depth/image_rect_raw"/>
    <param name="rgb_image_topic"           value="/$(arg sensor_name)/color/image_rect_color"/>
    <param name="output_topic"              value="/objects_detector/detections"/>
    <param name="camera_info_topic"         value="/$(arg sensor_name)/color/camera_info"/>

    <param name="root"                      value="$(find recognition)"/>

  </node>

</launch>
